@font-face {
  font-family: Italie;
  src: url("../assets/1talie\ 2.ttf");
}
@font-face {
  font-family: Digital;
  src: url("../assets/digital-7.ttf");
}

.italie {
  font-family: Italie;
}

.digital {
  font-family: Digital;
}

button:focus,
input:focus {
  outline: none;
}

input,
textarea {
  border: none;
  color: black;
  padding: 0.25rem 0.5rem;
}

.title {
  width: 15rem;
}

.short-text {
  display: none;
}

.btn {
  border: 1px solid white;
  min-width: 80%;
  margin: auto;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  transition: all 200ms ease;
}

.btn:hover {
  transform: translateY(-5%) scale(1.05);
  background-color: rgba(255, 255, 255, 0.2);
}

.exit-btn {
  color: white;
  position: absolute;
  top: 2%;
  right: 1%;
  transition: all 200ms ease;
}

.exit-btn:hover {
  color: rgb(255, 106, 95);
  transform: scale(1.2);
}

.daybox {
  position: relative;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: baseline;
  color: white;
  border: 1px solid white;
  padding: 0.5rem;
  transition: all 300ms ease;
}

.daybox:hover {
  box-shadow: 1px 2px white;
  transform: translateY(-2%);
  background-color: rgba(255, 255, 255, 0.2);
}

.blankbox {
  background-color: transparent;
}

.daybox-todo-number {
  position: absolute;
  top: 5%;
  right: 5%;

  text-align: center;
  background: red;
  width: 25px;
  border-radius: 50%;
}

.new-modal-bg {
  display: none;
  position: absolute;
  z-index: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.603);
  transition: all 500ms ease;
  opacity: 0;
}

.modal-content {
  position: absolute;
  display: none;
  transform: translate(-25%, -25%);
  z-index: 10;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 1.5rem;
  background-color: #718096d2;
  transform: scale(0);
  transition: all 500ms ease;
  opacity: 0;
}

.day-popup {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: start;
  transform: translate(-25%, -25%);
  transition: all 500ms ease;

  border-radius: 5px;
  padding: 2rem 1.5rem 1rem 1.5rem;

  transform: scale(0);
  width: 40%;
  max-height: 80%;
  overflow-x: hidden;
  background-color: #718096;
  color: black;
  opacity: 0;

  word-break: break-all;
}

.modal-visible {
  display: flex;
}
.modal-opacity {
  opacity: 1;
}
.modal-size {
  transform: scale(1);
}

.todos-list {
  display: flex;
  list-style-type: square;
  text-align: left;
  margin: 0 1rem;
}

textarea:focus,
input:focus {
  outline: none;
}

.next-month,
.prev-month {
  transition: all 200ms ease;
}

.prev-month:hover {
  transform: translateX(-5%);
}
.next-month:hover {
  transform: translateX(5%);
}

.large-heading {
  font-size: 1.5rem;
  color: white;
}

.small-heading {
  font-size: 0.9rem;
  color: black;
}

.fa-trash-alt {
  position: absolute;
  top: 0;
  right: 0;
}
