.daybox {
  background: white;
  border: 1px solid blue;
}

.blankbox {
  background-color: grey;
}

.daybox-todo-number {
  background: red;
  border-radius: 50%;
}

/* ADD NEW TODO MODAL */

/* .new-todo-modal {
  position: relative;
  left: 50%;
  top: 50%;
  z-index: 10;
  top: 0;
  right: 0;
  opacity: 0;
  transition: all 300ms ease;
} */

.new-modal-bg {
  position: absolute;
  z-index: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.603);
  opacity: 0;
  transition: all 300ms ease;
}

.modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  transition: all 300ms ease;

  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 1.5rem;
  background-color: white;
}

.modal-visible {
  opacity: 1;
}

/* SIDEBAR */
.todos-list {
  list-style-type: square;
  text-align: left;
  margin: 0 2rem;
}

textarea:focus,
input:focus {
  outline: none;
}
